EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/appsettings.Development.json
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/appsettings.json
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/EmployeeManager.deps.json
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/EmployeeManager.dll
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/EmployeeManager.exe
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/EmployeeManager.pdb
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/EmployeeManager.runtimeconfig.dev.json
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/EmployeeManager.runtimeconfig.json
EmployeeManager/EmployeeManager/obj/EmployeeManager.csproj.nuget.dgspec.json
EmployeeManager/EmployeeManager/obj/EmployeeManager.csproj.nuget.g.props
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.AssemblyInfo.cs
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.AssemblyInfoInputs.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.assets.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.csproj.AssemblyReference.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.csproj.CoreCompileInputs.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.csproj.FileListAbsolute.txt
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.dll
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.genruntimeconfig.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.MvcApplicationPartsAssemblyInfo.cache
EmployeeManager/EmployeeManager/obj/project.assets.json
EmployeeManager/EmployeeManager/obj/project.nuget.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/apphost.exe
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.pdb
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.RazorTargetAssemblyInfo.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/staticwebassets/EmployeeManager.StaticWebAssets.Manifest.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/staticwebassets/EmployeeManager.StaticWebAssets.xml
EmployeeManager/.vs/EmployeeManager/DesignTimeBuild/.dtbcache.v2
EmployeeManager/EmployeeManager/bin/Debug/net5.0/appsettings.Development.json
EmployeeManager/EmployeeManager/bin/Debug/net5.0/appsettings.json
EmployeeManager/EmployeeManager/bin/Debug/net5.0/EmployeeManager.deps.json
EmployeeManager/EmployeeManager/bin/Debug/net5.0/EmployeeManager.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/EmployeeManager.exe
EmployeeManager/EmployeeManager/bin/Debug/net5.0/EmployeeManager.pdb
EmployeeManager/EmployeeManager/bin/Debug/net5.0/EmployeeManager.runtimeconfig.dev.json
EmployeeManager/EmployeeManager/bin/Debug/net5.0/EmployeeManager.runtimeconfig.json
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Humanizer.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.AspNetCore.Cryptography.Internal.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.Extensions.Identity.Core.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.Extensions.Identity.Stores.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.Identity.Client.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/Newtonsoft.Json.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/System.Runtime.Caching.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/ref/EmployeeManager.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
EmployeeManager/EmployeeManager/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
EmployeeManager/EmployeeManager/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
EmployeeManager/EmployeeManager/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
EmployeeManager/EmployeeManager/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
EmployeeManager/EmployeeManager/Controllers/AuthenticateController.cs
EmployeeManager/EmployeeManager/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
EmployeeManager/EmployeeManager/obj/Debug/net5.0/apphost.exe
EmployeeManager/EmployeeManager/obj/Debug/net5.0/EmployeeManager.AssemblyInfo.cs
EmployeeManager/EmployeeManager/obj/Debug/net5.0/EmployeeManager.AssemblyInfoInputs.cache
EmployeeManager/EmployeeManager/obj/Debug/net5.0/EmployeeManager.assets.cache
EmployeeManager/EmployeeManager/obj/Debug/net5.0/EmployeeManager.csproj.CopyComplete
EmployeeManager/EmployeeManager/obj/Debug/net5.0/EmployeeManager.csproj.CoreCompileInputs.cache
EmployeeManager/EmployeeManager/obj/Debug/net5.0/EmployeeManager.csproj.FileListAbsolute.txt
EmployeeManager/EmployeeManager/obj/Debug/net5.0/EmployeeManager.dll
EmployeeManager/EmployeeManager/obj/Debug/net5.0/EmployeeManager.GeneratedMSBuildEditorConfig.editorconfig
EmployeeManager/EmployeeManager/obj/Debug/net5.0/EmployeeManager.genruntimeconfig.cache
EmployeeManager/EmployeeManager/obj/Debug/net5.0/EmployeeManager.MvcApplicationPartsAssemblyInfo.cache
EmployeeManager/EmployeeManager/obj/Debug/net5.0/EmployeeManager.pdb
EmployeeManager/EmployeeManager/obj/Debug/net5.0/EmployeeManager.RazorTargetAssemblyInfo.cache
EmployeeManager/EmployeeManager/obj/Debug/net5.0/ref/EmployeeManager.dll
EmployeeManager/EmployeeManager/obj/Debug/net5.0/staticwebassets/EmployeeManager.StaticWebAssets.Manifest.cache
EmployeeManager/EmployeeManager/obj/Debug/net5.0/staticwebassets/EmployeeManager.StaticWebAssets.xml
EmployeeManager/EmployeeManager/obj/Debug/net5.0/EmployeeManager.csproj.AssemblyReference.cache
