EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/appsettings.Development.json
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/appsettings.json
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/EmployeeManager.deps.json
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/EmployeeManager.dll
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/EmployeeManager.exe
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/EmployeeManager.pdb
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/EmployeeManager.runtimeconfig.dev.json
EmployeeManager/EmployeeManager/bin/Debug/netcoreapp3.1/EmployeeManager.runtimeconfig.json
EmployeeManager/EmployeeManager/obj/EmployeeManager.csproj.nuget.dgspec.json
EmployeeManager/EmployeeManager/obj/EmployeeManager.csproj.nuget.g.props
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.AssemblyInfo.cs
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.AssemblyInfoInputs.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.assets.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.csproj.AssemblyReference.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.csproj.CoreCompileInputs.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.csproj.FileListAbsolute.txt
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.dll
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.genruntimeconfig.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.MvcApplicationPartsAssemblyInfo.cache
EmployeeManager/EmployeeManager/obj/project.assets.json
EmployeeManager/EmployeeManager/obj/project.nuget.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/apphost.exe
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.pdb
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/EmployeeManager.RazorTargetAssemblyInfo.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/staticwebassets/EmployeeManager.StaticWebAssets.Manifest.cache
EmployeeManager/EmployeeManager/obj/Debug/netcoreapp3.1/staticwebassets/EmployeeManager.StaticWebAssets.xml
