$base-accent: [object Object];
$base-text-color: [object Object];
$base-bg: [object Object];
$base-border-color: [object Object];
$base-border-radius: [object Object];
$darken: [object Object];
$alpha: [object Object];
