<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  keyExpr="ID"
  [allowColumnReordering]="true"
  [showBorders]="true"
  (onEditingStart)="logEvent('EditingStart')"
  (onInitNewRow)="logEvent('InitNewRow')"
  (onRowInserting)="add($event)"
  (onRowInserted)="logEvent('RowInserted')"
  (onRowUpdating)="logEvent('RowUpdating')"
  (onRowUpdated)="update($event)"
  (onRowRemoving)="logEvent('RowRemoving')"
  (onRowRemoved)="_delete($event)"
  (onSaving)="logEvent('Saving')"
  (onSaved)="logEvent('Saved')"
  (onEditCanceling)="logEvent('EditCanceling')"
  (onEditCanceled)="logEvent('EditCanceled')"
>
  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-editing
    mode="row"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
  >
  </dxo-editing>
  <dxi-column dataField="Luong" caption="Hệ số lương"></dxi-column>
  <dxi-column dataField="MaChucVu" caption="Chức vụ"></dxi-column>
  <dxi-column dataField="Thue" caption="Thuế"></dxi-column>
</dx-data-grid>

